# You can copy this file to .env and modify the values as needed
# Or set the environment variables directly in cloudflare workers' dashboard

# All given values in this file are default values

# CDN base URL, including trailing slash
# This value will be directly concatenated with the file key to form the final CDN address
# For example: https://cdn.example.com/
VITE_CDN_BASE_URL=/api/raw/

# Files uploaded to this directory will be randomly renamed, including trailing slash
# Empty or / means no random directory
# For example: _random/
VITE_RANDOM_UPLOAD_DIR=

# Controls the concurrency of batch uploads
# Browser may freeze if this value is too large
VITE_BATCH_UPLOAD_CONCURRENCY=10

# Controls the upload history limit (number of recently uploaded files)
# Older records will be deleted when exceeding this limit
# Setting this too high may cause unexpected issues
VITE_UPLOAD_HISORY_LIMIT=1000

# Controls the size limit for text file preview (bytes)
# Files larger than this size will not be automatically loaded for preview
# Default value: 5242880 (which is 5MB)
VITE_PREVIEW_SIZE_LIMIT_TEXT=5242880
